.navbar{
    width: 100%;
    padding: 73px 0;
    background: #014E56;
    .navbar__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .navbar__content{
            display: flex;
            gap: 50px;
            align-items: center;
                p{
                    font-weight: 600;
                    color: #fff;
                }
        }
        .navbar__btn{
            display: flex;
            align-items: center;
            i{
                display: none;
                font-size: 24px;
                color: #fff;
                .navbar__burger{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 70%;
                    background: #fff;
                    height: 90vh;
                    background: #2C6269;
                    display: none;
                    .navbar__collection{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 20px;
                        button{
                            width: 153px;
                            height: 48px;
                            border-radius: 50px;
                            background: transparent;
                            border: 1px solid #fff;
                            color: #fff;
                            transition: .2s;
                            &:hover{
                                cursor: pointer;
                                background: #fff;
                                color: #014E56;
                            }
                            &:active{
                                transform: scale(.9);
                            }
                        }
                        i{
                            text-align: end;
                            color: #fff;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        li{
                            font-weight: 600;
                            color: #fff;
                        }
                    }
                }








                &:hover{
                    cursor: pointer;
                   
                }
            }
            i:active{
                .navbar__burger{
                    display: block;
                    
                }
            }
            button{
                width: 153px;
                height: 48px;
                border-radius: 50px;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
                transition: .2s;
                &:hover{
                    cursor: pointer;
                    background: #fff;
                    color: #014E56;
                }
                &:active{
                    transform: scale(.9);
                }
            }
        }
    }
}




@media(max-width:700px){
    .navbar{
        .navbar__wrapper{
            .navbar__content{
                p{
                    display: none;
                }
            }
            .navbar__btn{
                i{
                    display: block;
                }
                button{
                    display: none;
                }
            }
        }
    }
}
